/** {
	box-sizing: border-box;
}*/

html {
	padding: 0;
	margin: 0;
	font-family: Gotham, sans-serif;
	font-size: small;
}

body {
	margin: auto;
	line-height: 1.5;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
	margin-top: 0;
}

#header {
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px 30px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.logo {
	width: 27vw;
}

.header-img {
	width: 75px;
	height: 75px;
}

#nav_list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#nav_list li {
	list-style: none;
	padding: 0 30px;
	font-size: 1.2rem;
	font-weight: 500;
}

.nav-link {
	text-decoration: none;
	color: #000;
}

.nav-link:visited {
	color: #000;
}

.first_image {
	position: relative;

}

.first_image img {
	width: 100%;
	max-height: 512px;
	height: auto;
	object-fit: cover;
}

.tag_line {
	position: absolute;
	left: 20%;
	top: 25%;
	font-size: 30px;
	color: #fff;

}

.main_page {
	max-width: 1200px;
	margin: 0 auto;
	font-size: 1.2rem;
}

#about_the_company {
	display: flex;
	flex-direction: row-reverse;
}

#about_the_company, #products, #why_choose_us, #contact_us {
	margin: 100px auto;
}

#about_the_company {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	column-gap: 50px;
}

.about_us_images {
	width: 55.8%;
}

#video {
	display: block;
	margin: auto;
}

#image2 {
	top: 0;
	left: 40px;
	background-size: cover;
	object-fit: fill;
}

.section-heading {
	color: red;
	font-weight: 600;
}

.about_us_text {
	width: 40%;
}

.about_us_text > ul {
	line-height: 1.8;
	margin-left: -20px;
}

.about_us_list li {
	list-style-image: url('images/checked_scaled.png');
	position: relative;
}

.list-text {
	position: relative;
	top: -5px;
}

#product_heading {
	text-align: center;
}

.products {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap:40px;
	justify-content: center;
}

.catalog {
	border: 1px solid black;
	width: 375px;
}

.lower-content {
	margin: 30px;
}

#why_choose_us {
	display: flex;
	flex-direction: row;
	column-gap: 60px;
}

.inner-section1 {
	width: 45%;
}

.inner-section2 {
	width: 55%;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

/*.pointers {
	border: 1px dashed black;
}*/

.inside-pointer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.image-bg {
	position: relative;
	background-color: #16205e;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.image-bg img {
	position: absolute;
	top: 15px;
	left: 15px;
}

.side-text {
	width: 70%;
}

.side-text h3 {
	margin: 14px 0;
}

#contact_us {
	padding: 0 100px;
}

#customer-info {
	border: none;
	padding: 0 0 10px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 20px;
}

.info {
	width: 49%;
	display: block;
}

.info input {
	width: 100%;
	border: none;
	padding: 10px 0;
	border-bottom: 1px solid grey;
	margin: 2px 0;
}

#customer-msg {
	border: none;
	padding: 0 0 10px 0;
	margin: 20px 0;
}

#message textarea {
	width: 99%;
	border: none;
	border-bottom: 1px solid grey;	
}

input[type="submit"] {
	border: none;
	background-color: #ff303a;
	color: #fff;
	padding: 15px 55px;
	font-size: 20px;
	border-radius: 50px;
	margin: 5px 0;
}

.footer {
	font-size: 1.1rem;
	background-color: #121626;
	color: #fff;
}

.top-footer {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 150px;
	padding-top: 100px;
}

.top-footer > div {
	width: 30%;
}

.image-div {
	margin: 0 auto;
	text-align: center;
}

.image-footer {
	width: 125px;
	height: auto;
}

.contact-list {
	padding-left: 0;
	line-height: 1.8;

}

.contact-list li {
	list-style: none;

}

.tel-no, .email {
	text-decoration: none;
	color: #fff;
}

.tel-no:hover, .email:hover {
	text-decoration: underline;
}

.tel-no:visited, .email:visited {
	color: #fff;
}

.icons {
	padding-left: 0;
	display: flex;
	flex-direction: row;
}

.icons li {
	list-style: none;
	margin: 0 5px 0 0;
}

.icon {
	padding: 5px;
	border: 1px solid #fff;
}

.bottom-footer {
	background-color: #0c0f1a;
	color: #fff;
}

.bottom-footer-inner-section {
	max-width: 1200px;
	margin: 100px auto 0 auto;
	padding: 13px 0;
	text-align: center;
}
